h1 { text-align:center; }

table { width: 80%; margin:auto; border-collapse: collapse; background: white; }

th, td { border: 1px solid #ddd; padding: 10px; }

th { background: #eee; }

a { color: #007bff; text-decoration: none; }

body{
    background-color: white;
}


nav{
    background-color: #1ed2f0;
}

.btn{
    background-color: #0197B3;
    color: white;
    border-color: white;
}

.btn:hover{
    background-color: #008299;
    color: white;
    border-color: black;
}

.btn-outline-success {
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #00d9ff;
    --bs-btn-active-border-color: black;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
