/* CONTENEUR PRINCIPAL */
.match-container {
    margin-top: 40px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    border: 3px dashed #b0b0b0;
}

/* BOUTON FILTRE */
.filtre-btn {
    background-color: #D0662A;
    border-color: black;
}

.filtre-btn:hover {
    background-color: #e67834;
}

/* MATCH BOXES */
.match-box {
    background-color: #3d8ca6;
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.match-box .vs {
    font-weight: bold;
}