@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

body{
    background-color: #D7E9ED;
}

.navbar-brand{
  color: #D0662A;
  font-family: "Rubik Glitch";
}


nav{
    background-color: #58B6D0;
}

.btn{
    background-color: #387586;
    color: white;
    border-color: white;
}

.btn:hover{
    background-color: #438FA8;
    color: white;
    border-color: black;
}


.btn-outline-success {
    --bs-btn-color: #58B6D0;
    --bs-btn-border-color: #58B6D0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #58B6D0;
    --bs-btn-hover-border-color: #58B6D0;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #58B6D0;
    --bs-btn-active-border-color: #58B6D0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #58B6D0;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #58B6D0;
    --bs-gradient: none;
}

#box{

    margin: 3vw 15vh;
    background-color: white;
    width: auto;
    align-items: center;
    border: solid #ffffff 5px;
    border-radius: 10px;
    padding: 3vh 1vw;

}

.pagination{
	background-color: white;
}

.logo{

    vertical-align: 0;
}
